@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

.Faq{
  /* position: absolute; */
  margin: auto;
  display: block;
  overflow: auto;
  /* overflow: hidden; */
  width: 90%;
  top: 310px;
  border: 1px solid #000000;
  box-sizing: border-box;
  
  /* height: auto;*/
  min-height: 550px !important;
}

.head{
  position:relative;
  margin:auto;
  top:46px;
}

.categoryText
{
position: relative;
/* width: 765px; */
line-height: 47px;
/* left: 42px; */


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
/* line-height: 35px; */
text-align: center;
color: #000000;

}

.categoryHeader
{
position: relative;
width: 80%;
// left: 10%;
height: 48px;
top: 46px;
display:none;
background: #E5E5E5;
margin: auto;
}

.faq-text{
  position:relative;
  margin: auto;
  width: 65%;
 
  /* height: 35px; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px !important;
  line-height: 35px;
  text-align: center;

  color: #000000;
}

.searchText{ 
  position:relative;
  margin:auto;
  top:5px;
  width: 70%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.SearchBox .search {
  width: 31%;
  position:relative;
  margin:auto;
  top:30px;
  height:47px;
  display: flex;
  border: 1px solid #000000;
  box-sizing: border-box;
  
}

.SearchBox .searchTerm {
  width: 80%;
  position: absolute;
  /* border: 3px solid #ffffff;
  border-right: none;
  color: #ffffff;
  border-radius: 5px 0 0 5px; */
  padding: 5px;
  /* height:47px; */
  outline: none;
}

.SearchBox .searchTerm:focus{
  color: #000;
}

.SearchBox .searchButton {
  width: 40px;
  height: 50px;
  /* border: 1px solid #ffffff;
  background: #ffffff; */
  text-align: center;
  color: #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 22px;
  /* font-size: 130%; */
  position: absolute;
  right: 0%;
  outline: none;
}

.categories{
  position:relative;
  margin: auto;
  top:90px;
  width:90%;
  display:block;
}

.category{
  position:relative;
  /* min-width: 213px; */
  min-height : 61px;
  margin: auto;
  
  border: 1px solid #000000;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 100%;
  text-align: center;
  color: #000000;   
  padding-top: 1.5rem!important;  
}

.cool-3{
width:22%;
margin:1.5%;
cursor: pointer;
/* display: flex;
justify-content: flex-start; */

}

@media only screen and (max-width: 550px) {
/* For mobile phones: */
[class*="cool-"] {
  width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.backButton
{
  left: 2px;
}

.SearchBox .search {
width: 45%;
position:relative;
margin:auto;
top:30px;
display: flex;
border: 1px solid #000000;
box-sizing: border-box;

}
}
.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="cool-"] {
  float: left;
  padding: 15px;
}


.backButton{
  height: 19px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  padding: 12px;
  outline: none;
  left: 5%;
}

.related{

  position:relative;
  margin: auto;
  width: 100%;
  top:100px;
  /* border: 1px solid #000000;
  box-sizing: border-box; */

  display:none;

}

.related-row{
      position:relative;
      width:90%;
      margin:auto;
      padding: 12px;

      border: 1px solid #000000;
      box-sizing: border-box;

      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
      line-height: 100%;
      text-align: center; 
      color: #000000;   
}

/*acrodion css */
.containerFaq {
  margin: 0 auto;
  padding: 4rem;
  width: 100%;
}

.accordion .accordion-itemm {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-itemm button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  /* color: #03b5d2; */
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  /* color: #03b5d2; */
  /* border: 1px solid #03b5d2; */
}
.accordion button .accordion-title {
  font-family: 'Roboto', sans-serif;
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
/* .accordion button[aria-expanded='true'] {
  color: #03b5d2;
} */
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  font-family: 'Roboto', sans-serif;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
  text-align:left;
}
