@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

.background-gray{
    background: #6A788A;
}

.height-300px{
    height: 300px;
}

.w-300px{
    width: 300px;
}

.border-1px{
    border: 1px solid #6A788A;
}

.background-gray1{
    background: #6A788A24;
}

.font-12px{
    font-size:12px;
}

.font-25px{
    font-size:25px;
}

.font-16px{
    font-size:16px;
}

.font-Raleway{
    font-family:'Raleway', sans-serif;
}

.font-Roboto{
    font-family:'Roboto', sans-serif;
}

.line-height-31px{
    line-height:31px;
}

.line-height-21px{
    line-height:21px;
}

.line-height-24px{
    line-height:24px;
}

.line-height-19px{
    line-height:21px;
}

.line-height-16px{
    line-height:21px;
}
