@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

.background-gray{
    background: #6A788A;
}

.background-gray1{
    background: #E5E5E5;
}

.heading-desktop{
    font-family:'Raleway', sans-serif;
    font-size:25px;
    line-height:31.25px;
}

.heading{
    font-family:'Roboto', sans-serif;
    font-size:30px;
    line-height:35.16px;
}

.title-desktop{
    font-family:'Raleway', sans-serif;
    font-size:16px;
    line-height:20.32px;
}

.title{
    font-family:'Roboto', sans-serif;
    font-size:25px;
}

.link-desktop{
    font-family:'Raleway', sans-serif;
    font-size:16px;
    line-height:24.11px;
    font-weight: 400;
}

.link{
    font-family:'Roboto', sans-serif;
    font-size:16px;
    line-height:28.8px;
    font-weight: 400;
    color: #086AFD;
}

.product{
    font-family:'Roboto', sans-serif;
    font-size:25px;
    line-height:29.3px;
}

.border-1px{
    border: 1px solid #000000;
}
    