.maxwidth{
max-width: 950px;
margin-left: auto;
margin-right: auto;
}
.maxwidth-video{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    }


.intro-banner{
    background-image: url(../images/smoothwrap/header-background.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 550px;
}

.inner1 {
    display: block;
    width: 100%;
    // max-width: 950px;
    position: relative;
    text-align: center;
    top: 40px;
}
.product-meta {
    text-align: left;
    padding: 10px;
    width: calc(100% - 250px);
    color: #000;
}
.product-title {
    font-weight: bolder;
    font-size: 1.2rem !important;
}
.product-title, .product-model, .product-price, .product-qty {
    display: block;
    width: 100%;
    clear: both;
}
.product-model, .product-qty label {
    font-size: 0.80rem !important;
}
.product-tile .image-container {
    position: relative;
    overflow: hidden;
}
.product-title, .product-model, .product-price, .product-qty {
    display: block;
    width: 100%;
    clear: both;
}
#swd910-epp a, .slate-blue {
    color: #2c6877;
}
.product-price {
    margin: 10px 0px;
}
.tile-body {
    display: none;
    }
.price {
            display: none;
       }
.tile-image{
    width: 250px;
}
.product-tile{
    padding-right:31px;

}       
.product-title, .product-model, .product-price, .product-qty {
    display: block;
    width: 100%;
    clear: both;
}
.product-qty {
    display: block;
    width: 100%;
}
.product-qty-ui {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    margin-right: 10px;
    width: 100%;
    max-width: 110px;
    border: 1px solid #000;
    padding: 2px;
}
.product-qty label {
    display: block;
    width: 100%;
    clear: both;
    font-size: 1rem;
    margin-bottom: 10px;
}
a.primary-btn {
    background-color: #98d0dc;
    color: #000;
    padding: 10px 15px;
    text-transform: uppercase;
    position: relative;
}
a.primary-btn-border{
        display: inline-block;
        font-size: 13px;
        width: 100%;
        max-width: 110px;
        border: 1px solid #000;
        padding: 2px;
}

.product-meta-right{
    right: 14px;
}
@media (max-width: 676px) {
.product-meta-right{
    right: 0px;
}
}
.product-image-left{
    left: 195px;
}
@media (max-width: 680px){
#product-intro .product-meta {
    text-align: left;
}
}
@media (max-width: 676px) {
    .product-image-left{
        left: 0px;
    }
    }

    @media (max-width: 680px){
    #product-intro .colgroup {
        text-align: center;
    }
}
    @media (max-width: 680px){
    #product-intro .internal {
        padding: 125px !important;
        max-width: 641px;
    } 
} 
@media (max-width: 680px){
#product-intro .col {
    display: block;
    width: 100%;
    clear: both;
    text-align: left;
    margin: 0px auto;
    margin-top: 40px;
    float: none;
}
}
@media (max-width: 680px){
#product-intro .col:first-child {
    margin-top: 0px;
} 
}

//
@media (max-width: 758px){
    #product-intro .colgroup {
        text-align: center;
        margin-left: 100px;
    }
}
    @media (max-width: 758px){
    #product-intro .internal {
        padding: 74px !important;
        max-width: 641px;
    } 
} 
@media (max-width: 404px){
#product-intro .internal {
    padding: 73px!important;
    max-width: 618px;
}
}
@media (max-width: 400px ){
#product-intro .internal {
    padding: 30px!important;
    max-width: 618px;
    margin-left: 10px;
}
}
@media (min-width: 750px ) and ( max-width: 997px){
#product-intro {
    overflow: hidden;
    width: 77%;
    margin-left: auto;
    margin-right: auto;
}
}
@media (min-width: 998px ){
    #product-intro {
        overflow: hidden;
        width: 61%;
        margin-left: auto;
        margin-right: auto;
    }
    }

@media (min-width: 320px ){
    #product-intro .internal {
        padding: 30px!important;
        max-width: 618px;
    }
    }
    .product-tile .image-container a .tile-image {
        width: 250px;
    }
@media (max-width: 758px){
#product-intro .col {
    display: block;
    width: 100%;
    clear: both;
    text-align: left;
    margin: 0px auto;
    margin-top: 40px;
    float: none;
}
}
@media (max-width: 758px){
#product-intro .col:first-child {
    margin-top: 0px;
} 
}
//305
@media (max-width: 305px){
    #product-intro .colgroup {
        text-align: center;
    }
}
    @media (max-width: 305px){
    #product-intro .internal {
        padding: 25px !important;
        max-width: 641px;
    } 
} 
@media (max-width: 305px){
#product-intro .col {
    display: block;
    width: 100%;
    clear: both;
    text-align: left;
    margin: 0px auto;
    margin-top: 40px;
    float: none;
}
}
@media (max-width: 305px){
#product-intro .col:first-child {
    margin-top: 0px;
} 
}

#swd910-epp input[type=submit], #swd910-epp button, #swd910-epp a.primary-btn {
    background-color: #98d0dc;
    color: #000;
    padding: 10px 15px;
    text-transform: uppercase;
    position: relative;
}
.product-qty-ui a.qty {
    font-size: 1rem;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #000;
    color: #fff !important;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer !important;
    text-align: center;
}
span.product-obo a {
    display: inline-block;
    color: #000 !important;
    border: 1px solid #000;
    padding: 10px 20px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    margin-top: 15px;
}
.product-qty-ui input[name^="item"] {
    display: inline-block;
    height: 30px;
    width: calc(100% - 70px);
    text-align: center;
    font-size: 1rem;
    padding: 0px;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=search], input[type=number], select, textarea {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #c6c6c6;
    transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#product-intro {
    overflow: hidden;
}

#swd910-epp * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
#product-intro .internal {
    padding: 30px 100px;
    padding-left: 150px;
}
.internal {
    display: block;
    width: 100%;
    max-width: 1199px;
    text-align: center;
}
.product-image {
    width: 250px;
}
#swd910-epp .internal {
    display: block;
    width: 100%;
    max-width: 950px;
    text-align: center;
}
/*.col1 {
    float: left;
    vertical-align: top;
    width: 106%;
}*/
#swd910-epp input[type=submit], #swd910-epp button, #swd910-epp a.primary-btn {
    background-color: #98d0dc;
    color: #000;
    padding: 10px 15px;
    text-transform: uppercase;
    position: relative;
}
a.atc {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    padding: 0px 10px !important;
    font-weight: bolder;
    text-align: center;
}

.intro-banner .inner1 p {
    margin: 1%;
    font-size: 14px !important;
    color: #000;
    // margin: 5px 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.intro-video {
    margin-top: -310px;
    text-align: center;

}
iframe.ytplayer {
    height: 500px;
    width: 70%;
    border: 5px solid #9a9c9c;
}

#product-summary {
    background-color: #000;
    color: #fff !important;
    overflow: hidden;
    // height: 420px;
}

#product-summary h4 {
    font-size: 2rem;
}

.inner5{
    text-align: center;
}


#product-summary .inner5 {
    min-height: 475px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#product-summary .col:nth-child(1) {
    text-align: left;
    // width: calc(100% - 420px);
    width:60%;
    position: relative;
    top: 60px;
}
#product-summary .col:nth-child(2) {
    font-size: 0;
    line-height: 100%;
    position: relative;
    bottom: 0px;
    right: 0px;
    top: 75px;
    width: 40%;
}
//2 BLACK DIV

#claims {
    display: block;
    clear: both;
    padding: 40px;
    background-color: #000;
    color: #fff;
}

.inner6{
    text-align: center;
    max-width: 1215px;
}

#claims ul li {
    vertical-align: top;
    display: inline-block;
    padding: 40px;
    width: 100%;
    max-width: 375px;
    text-align: center;
}

#claims ul li span {
    display: inline-block;
}

#claims ul li span sup {
    // position: relative;
    position: initial;
    vertical-align: middle;
    font-size: 0.95em;
}

#claims ul li span.value {
    display: block;
    width: 110px;
    height: 110px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #98d1dc;
    color: #000;
    font-size: 2.5rem;
    margin: 0px auto;
    line-height: 110px;
    vertical-align: middle;
    position: relative;
}

#claims ul li span.value::after {
    display: block;
    // width: 102px;
    // height: 102px;
    border: 2px solid #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    right: 2px;
    bottom: 2px;

    content: "";
}

#claims ul li span.desc {
    margin-top: 30px;
    font-size: 1.1rem;
    line-height: 140%;
}

#claims ul li span.legal {
    margin-top: 20px;
    font-size: 0.75rem;
    line-height: 140%;
}








.gallery{
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

.gallery1{
    width:100%;
}


.inner2 {
    width: 65%;
    padding: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#gallery-lockup {
    display: block;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-top: 10px solid #98d0dc;
    background-image: url(../images/smoothwrap/smoothwrap-treatment-for-all.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    font-size: 1.4rem;
}
#gallery-lockup h4 {
    display: inline-block;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 2.2rem;
    border: 4px solid #fff;
    line-height: 120%;
}
#gallery-lockup .text-copy {
    display: inline-block;
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    font-size: 1.4rem;
    line-height: 140%;
}

#features {
    background-color: #fff;
    padding: 80px 0px;
    padding-bottom: 40px;
    color: #000;
}

.inner3{
    text-align: center;


}

.col {
    display: block;
    float: left;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    width: 50%;
}
.colgroup {
    display: block;
    padding: 30px 100px;
    clear: both;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#features h4 {
    font-size: 2rem;
    text-align: left;

}

#features ul:not(#feature-images) {
    display: block;
    width: 100%;
    clear: both;
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    // text-align: left;

}

#features ul:not(#feature-images) li {
    display: block;
    width: 100%;
    clear: both;
    margin-top: 20px;
}
#features ul:not(#feature-images) li strong {
    display: block;
    width: 100%;
    clear: both;
}

#features .col {
    position: relative;
    height: 100%;
}

#features .col:nth-child(2) {
    text-align: left;
    padding: 0px 40px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    top: -40px;
}


ul#feature-images {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px auto;
    list-style-type: none;
    // vertical-align: top;
    font-size: 0;
    line-height: 100%;
}

ul#feature-images li {
    display: inline-block;
    // width: calc((100% - 40px) / 3);
    width:30%;
    max-width: 550px;
    vertical-align: top;
    margin-left: 20px;
    font-size: 1rem;

    padding-top: 40px;
}

ul#feature-images li span {
    display: block;
    width: 100%;
    text-align: center;
}
ul#feature-images li span.text {
    padding: 10px 0px;
    line-height: 140%;
}


.video2{
    text-align: center;

}




.zoomph-title h3 {
    font-size: 2rem !important;
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}
.zoomph-widget {
    width: 100%;
    display: block;
    height: auto !important;
    min-height: 320px;
}


@media only screen and (min-width: 260px) and (max-width: 290px) {
    #product-summary {
        background-color: #000;
        color: #fff !important;
        overflow: hidden;
        height: 940px;
    }
}

@media only screen and (min-width: 290px) and (max-width: 350px) {
    #product-summary {
        background-color: #000;
        color: #fff !important;
        overflow: hidden;
        height: 890px;
    }
}
@media only screen and (min-width: 350px) and (max-width: 460px) {
    #product-summary {
        background-color: #000;
        color: #fff !important;
        overflow: hidden;
        height: 850px;
    }
}
@media only screen and (min-width: 460px) and (max-width: 710px) {
    #product-summary {
        background-color: #000;
        color: #fff !important;
        overflow: hidden;
        height: 760px;
    }
}

@media only screen and (max-width: 710px) {
    #product-summary .col:nth-child(1) {
        text-align: left;
        width: 100%;
        position: relative;
        top: 60px;
    }
    #product-summary .col:nth-child(2) {
        font-size: 0;
        line-height: 100%;
        position: relative;
        bottom: 0px;
        right: 0px;
        top: 100px;
        width: 100%;
    }
    
}


@media only screen and (max-width: 650px) {
    iframe.ytplayer {
        height: 300px;
        width: 70%;
        border: 5px solid #9a9c9c;
    }

    .inner2 {
        width: 100%;
        padding: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    


        .col {
            display: block;
            float: left;
            vertical-align: top;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            position: relative;
            width: 100%;
        }

        ul#feature-images li {
            display: inline-block;
            // width: calc((100% - 40px) / 3);
            width:100%;
            max-width: 550px;
            vertical-align: top;
            margin-left: 20px;
            font-size: 1rem;
        
            padding-top: 40px;
        }

}
